// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

$red-1: #ad74a8;
$red-2: #90488a;
$red-3: #74276d; // Main Primary color */
$red-4: #570e51;
$red-5: #3a0035;
$marked-border: #2875a1 !default;

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.example {
  border: 2px solid $red-4;
  border-radius: 5px;
  color: $red-5;
  padding: 1em;
  margin-bottom: 1em;

  .title {
    display: inline-block;
    padding-left: 1em;
    color: $red-4;
    font-weight: bold;
    padding-bottom: 1em;

    @include small {
      padding-left: 0;
    }
  }

  .btn {
    color: white;
    font-weight: bold;
    background-color: $red-3;
    border-color: $red-5;

    &:hover {
      color: white;
      background-color: $red-5;
      border-color: $red-5;
    }

    @include small {
      display: inline-block;
    }
  }
}

.no-boxes {
  margin-bottom: 0;
}

.btn.no-boxes {
  @include small {
    margin-bottom: 1em;
  }
}

.title.no-boxes {
  padding-bottom: 0;
}

//
// matrix boxes
//
.box-label {
  display: inline-block;
  color: $red-1;
  font-size: 1em;
  // width added in script
}

.box {
  margin-left: 0.1em;
  display: inline-block;
  padding: 0.5em 0.1em;
  border-radius: 3px;
  // width calculated in script
}

.empty-box {
  background-color: $red-1;
}

.filled-box {
  background-color: $red-4;
}

.mark-with-border {
  padding-top: calc(0.5em - 4px);
  padding-bottom: calc(0.5em - 4px);
  border: 4px solid $marked-border;
}

.mute.btn {
  margin-top: 1em;
  margin-bottom: 0em;
  background-color: $red-1;
}

// other ui
.hidden {
  display: none;
}

.video-embed {
  width: 640px;
  height: 480px;

  @include small {
    width: 100%;
  }
}

//
// slider
//

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  padding: 0;
  background: $red-1;
}

.slider-container {
  padding: 1em;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $red-4;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $red-4;
  cursor: pointer;
}

audio {
  width: 100%;
}
